html {
  height: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

body>app>.spinner-container {
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* The idea of the pre-loader is to have something like on Linked-in: a static image and a css animation below */
/* A possibility is to keep only the image and replace it with the same animation (Gif, SVG, or CSS) as for the gifSpinner component  */
body>app>.spinner-container>.spinner-logo {
  width: 225px;
  height: 225px;
}

body>app>.spinner-container>.spinner {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #0072ce;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
}

body>app>.spinner-container>.spinner-logo {
  display: none;
}

body>app>.spinner-container>.spinner {
  display: none;
}

body {
  height: 100%;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    -webkit-animation: none;
  }
}
